<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>

<!-- Preloader -->
{{> preloader }}

<!-- Navigation menu -->
{{> menu }}

<!-- Page title -->
<div class="d-flex flex-column">
    <div class="d-flex align-items-center py-5 bg-light">
        <div class="container page-title-container">
            <div class="row align-items-center py-0">

                <div class="col-lg-8 col-xl-9 text-center text-lg-left text-dark-gray">
                    <h4 class="font-weight-800 mb-0">
                        ZASADA DZIAŁANIA KATALOGU
                    </h4>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center justify-content-lg-start px-0 mb-0">
                            <li class="breadcrumb-item text-uppercase"><a href="config.html">Home</a></li>
                            <li class="breadcrumb-item text-uppercase text-nowrap active" aria-current="page">Jak to działa?</li>
                        </ol>
                    </nav>
                </div>

            </div>

            <div data-height="40px"></div>

        </div>
    </div>
</div>

<!-- Content -->
<div class="main-content bg-light pt-0">

    <div class="section mt-up75">
        <div class="container">
            <div class="row">

                <div class="accordion" id="howitworksAccordion">
                    <div class="card">
                        <div class="card-header shadow-sm" id="question1Header">
                            <h5 class="accordion-title" data-toggle="collapse" data-target="#answer1" aria-expanded="true" aria-controls="answer1">
                                Jak poruszać się po serwisie?
                            </h5>
                        </div>
                        <div id="answer1" class="collapse show" aria-labelledby="question1Header" data-parent="#howitworksAccordion">
                            <div class="card-body pb-1">
                                tekst musi zostac zaktualizowany
                                <p>
                                    Istotą poruszania się po katalogu jest łatwość nawigacji i możliwość samodzielnego realizowania zarówno wpisów, jak i ogłaszania swoich potrzeb. Firmy można wyszukiwać na wiele sposobów. Kryteria wyszukiwania możemy ograniczyć do powiatu i wybranej w nim miejscowości, województwa, a także możemy szukać firm w całej Polsce.
                                    Po lewej stronie umieściliśmy podział na branże, a z prawej możemy nawigować i ustawiać poziom geograficzny, w którym chcemy znaleźć daną firmę. Także po kliknięciu na lupę mogą Państwo wybrać dany region korzystając z map.
                                    Zastosowane podziały branż na poziomy I, II, III, i IV wynikają z logiki ich klasyfikacji.
                                    I poziom - określa branżę główną, II poziom - określa podbranżę, III poziom - określa branżę szczegółową. IV - poziom zastosowany jest tylko w podziale specjalizacji lekarskich. Takie zastosowanie podziału branż pozwala sklasyfikować każdą firmę funkcjonującą na rynku.
                                    W przypadku niemożności sklasyfikowania profilu działalności konkretnej firmy prosimy o kontakt
                                    w celu wspólnego znalezienia miejsca klasyfikacji.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header shadow-sm" id="question2Header">
                            <h5 class="accordion-title" data-toggle="collapse" data-target="#answer2" aria-expanded="true" aria-controls="answer2">
                                Chcę zaistnieć w katalogu KBF, jak to zrobić?
                            </h5>
                        </div>
                        <div id="answer2" class="collapse" aria-labelledby="question2Header" data-parent="#howitworksAccordion">
                            <div class="card-body">
                                tekst musi zostac zaktualizowany
                                <p>Magna ipsum dolor sit amet consectetur adipiscing elit magna nec mauris lacinia ac purus quis, rutrum bibendum leo. Nullam sit amet nibh eu odio ornare laoreet. Duis imperdiet est ut tristique auctor mattis condimentum ultricies amet dolor.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header shadow-sm" id="question3Header">
                            <h5 class="accordion-title" data-toggle="collapse" data-target="#answer3" aria-expanded="true" aria-controls="answer3">
                                Chcę się zareklamować, jak to zrobić?
                            </h5>
                        </div>
                        <div id="answer3" class="collapse" aria-labelledby="question3Header" data-parent="#howitworksAccordion">
                            <div class="card-body">
                                tekst musi zostac zaktualizowany
                                <p>Magna ipsum dolor sit amet consectetur adipiscing elit magna nec mauris lacinia ac purus quis, rutrum bibendum leo. Nullam sit amet nibh eu odio ornare laoreet. Duis imperdiet est ut tristique auctor mattis condimentum ultricies amet dolor.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header shadow-sm" id="question4Header">
                            <h5 class="accordion-title" data-toggle="collapse" data-target="#answer4" aria-expanded="true" aria-controls="answer4">
                                Jak mam zaktualizować dane?
                            </h5>
                        </div>
                        <div id="answer4" class="collapse" aria-labelledby="question3Header" data-parent="#howitworksAccordion">
                            <div class="card-body">
                                tekst musi zostac zaktualizowany
                                <p>Magna ipsum dolor sit amet consectetur adipiscing elit magna nec mauris lacinia ac purus quis, rutrum bibendum leo. Nullam sit amet nibh eu odio ornare laoreet. Duis imperdiet est ut tristique auctor mattis condimentum ultricies amet dolor.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<!-- Footer -->
{{> footer }}

<!-- Go to top -->
{{> go-to-top }}

<!-- Scripts -->
{{> scripts }}

<!-- Index js -->
<script src="assets/js/howitworks.js"></script>

</body>
</html>