<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
    <!-- Perfect scrollbar-->
    <link rel="stylesheet" href="assets/css/perfect-scrollbar.css">
</head>

<!-- Preloader -->
{{> preloader }}

<!-- Navigation menu -->
{{> menu }}

<!-- Banner -->
{{> banner }}

<!-- Page title -->
<div class="d-flex flex-column">
    <div class="d-flex align-items-center py-5 bg-light">
        <div class="container page-title-container">
            <div class="row align-items-center py-0">

                <div class="col-lg-8 col-xl-9 text-center text-lg-left text-dark-gray">
                    <h4 class="font-weight-800 mb-0">
                        PRODUKTY W KBF
                    </h4>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center justify-content-lg-start px-0 mb-0">
                            <li class="breadcrumb-item text-uppercase"><a href="config.html">Home</a></li>
                            <li class="breadcrumb-item text-uppercase text-nowrap active" aria-current="page">Produkty w KBF</li>
                        </ol>
                    </nav>
                </div>

            </div>

            <div data-height="40px"></div>

        </div>
    </div>
</div>

<!-- Content -->
<div class="main-content bg-light pt-0">

    <div class="section mt-up75">
        <div class="container">
            <div class="row">

                <!-- Sidebar -->
                <div class="col-lg-4">
                    <div class="pb-3 mb-3">
                        <div class="bg-white rounded-xl shadow-sm py-5">

                            <div>
                                <div class="px-4 px-md-5 px-lg-4 px-xl-5">
                                    <form class="text-center mb-3">
                                        <div class="input-group input-group-lg input-group-round w-100">
                                            <div class="input-group-inner">
                                                <input type="text" class="form-control form-control-lg">
                                                <div class="input-group-append">
                                                    <button class="kbf-search-button btn btn-lg btn-round btn-primary shadow-none mb-0" type="button">Szukaj</button>
                                                </div>
                                                <div class="input-focus-bg"></div>
                                            </div>
                                        </div>
                                    </form>
                                    <span class="text-right"><i class="fas fa-info text-primary mr-2"></i></span>Informacja o sposobie wyszukiwania
                                </div>
                                <hr>
                            </div>

                            <div class="text-center d-lg-none">
                                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                                    <i class="fas fa-bars fa-lg text-dark mt-4"></i>
                                </button>
                            </div>

                            <div id="sidebarMenu" class="d-lg-block collapse">

                                <ul class="list-group list-group-flush pt-0">
                                    <h5 class="font-weight-700 px-4 px-md-5 px-lg-4 px-xl-5 pt-2 mb-3">BRANŻA</h5>

                                    <div class="accordion px-4 px-md-5 px-lg-4 px-xl-5 mt-2 mb-0" id="industriesAccordion">
                                        <div class="card">
                                            <div class="card-header shadow-sm" id="industry1Header">
                                                <h5 class="accordion-title" data-toggle="collapse" data-target="#industry1" aria-expanded="true" aria-controls="industry1">
                                                    ADMINISTRACJA, URZĘDY I FUNDACJE
                                                </h5>
                                            </div>
                                            <div id="industry1" class="collapse show" aria-labelledby="industry1Header" data-parent="#industriesAccordion">
                                                <div class="card-body pb-1">
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="urzedyCentralne">
                                                        <label class="custom-control-label" for="urzedyCentralne">Urzędy Centralne</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="urzedyLokalne">
                                                        <label class="custom-control-label" for="urzedyLokalne">Urzędy Lokalne</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="organizacjeFundacjeStowarzyszenia">
                                                        <label class="custom-control-label" for="organizacjeFundacjeStowarzyszenia">Organizacje, Fundacje i Stowarzyszenia</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header shadow-sm" id="industry2Header">
                                                <h5 class="accordion-title" data-toggle="collapse" data-target="#industry2" aria-expanded="true" aria-controls="industry2">
                                                    BIURO I DOM
                                                </h5>
                                            </div>
                                            <div id="industry2" class="collapse" aria-labelledby="industry2Header" data-parent="#industriesAccordion">
                                                <div class="card-body pb-1">
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="nieruchomosci">
                                                        <label class="custom-control-label" for="nieruchomosci">Nieruchomości</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="uslugiDlaBiuraIDomu">
                                                        <label class="custom-control-label" for="uslugiDlaBiuraIDomu">Usługi dla biura i domu</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="artykulyDlaBiuraIDomu">
                                                        <label class="custom-control-label" for="artykulyDlaBiuraIDomu">Artykuły dla biura i domu</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="sklepyIHurtownie">
                                                        <label class="custom-control-label" for="sklepyIHurtownie">Sklepy i hurtownie</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header shadow-sm" id="industry3Header">
                                                <h5 class="accordion-title" data-toggle="collapse" data-target="#industry3" aria-expanded="true" aria-controls="industry3">
                                                    BUDOWNICTWO I WYPOSAŻENIE
                                                </h5>
                                            </div>
                                            <div id="industry3" class="collapse" aria-labelledby="industry3Header" data-parent="#industriesAccordion">
                                                <div class="card-body pb-1">
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="budownictwoOgolne">
                                                        <label class="custom-control-label" for="budownictwoOgolne">Budownictwo ogólne</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="budowlaneMaterialyIUslugi">
                                                        <label class="custom-control-label" for="budowlaneMaterialyIUslugi">Budowlane materiały i usługi</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="projektowanieIPomiary">
                                                        <label class="custom-control-label" for="projektowanieIPomiary">Projektowanie i pomiary</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="konstrukcjeIInstalacje">
                                                        <label class="custom-control-label" for="konstrukcjeIInstalacje">Konstrukcje i Instalacje</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="wyposazenie">
                                                        <label class="custom-control-label" for="wyposazenie">Wyposażenie</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header shadow-sm" id="industry4Header">
                                                <h5 class="accordion-title" data-toggle="collapse" data-target="#industry4" aria-expanded="true" aria-controls="industry4">
                                                    EDUKACJA, NAUKA, KULTURA, SZTUKA
                                                </h5>
                                            </div>
                                            <div id="industry4" class="collapse" aria-labelledby="industry4Header" data-parent="#industriesAccordion">
                                                <div class="card-body pb-1">
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="instytucjeEdukacyjneIKulturalne">
                                                        <label class="custom-control-label" for="instytucjeEdukacyjneIKulturalne">Instytucje edukacyjne i kulturalne</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="szkolyISzkolenia">
                                                        <label class="custom-control-label" for="szkolyISzkolenia">Szkoły i Szkolenia</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="sklepyIUslugiBranzowe">
                                                        <label class="custom-control-label" for="sklepyIUslugiBranzowe">Sklepy i Usługi Branżowe</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="artysci">
                                                        <label class="custom-control-label" for="artysci">Artyści</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header shadow-sm" id="industry5Header">
                                                <h5 class="accordion-title" data-toggle="collapse" data-target="#industry5" aria-expanded="true" aria-controls="industry5">
                                                    MEDIA, KOMPUTERY, INTERNET I REKLAMA
                                                </h5>
                                            </div>
                                            <div id="industry5" class="collapse" aria-labelledby="industry5Header" data-parent="#industriesAccordion">
                                                <div class="card-body pb-1">
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="prasa">
                                                        <label class="custom-control-label" for="prasa">Prasa</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="radio">
                                                        <label class="custom-control-label" for="radio">Radio</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="tv">
                                                        <label class="custom-control-label" for="tv">TV</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="multimedia">
                                                        <label class="custom-control-label" for="multimedia">Multimedia</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="sprzetIAkcesoriaKomputerowe">
                                                        <label class="custom-control-label" for="sprzetIAkcesoriaKomputerowe">Sprzęt i akcesoria komputerowe</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="uslugiKomputeroweIInformatyczne">
                                                        <label class="custom-control-label" for="uslugiKomputeroweIInformatyczne">Usługi komputerowe i informatyczne</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="oprogramowanie">
                                                        <label class="custom-control-label" for="oprogramowanie">Oprogramowanie</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="portaleISerwisy">
                                                        <label class="custom-control-label" for="portaleISerwisy">Portale i serwisy</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="eBiznes">
                                                        <label class="custom-control-label" for="eBiznes">E-biznes</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="cafe">
                                                        <label class="custom-control-label" for="cafe">@-cafe</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="dostawcyInternetu">
                                                        <label class="custom-control-label" for="dostawcyInternetu">Dostawcy internetu</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="hosting">
                                                        <label class="custom-control-label" for="hosting">Hosting</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="telekomunikacja">
                                                        <label class="custom-control-label" for="telekomunikacja">Telekomunikacja</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="marketingIReklama">
                                                        <label class="custom-control-label" for="marketingIReklama">Marketing i reklama</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="sklepyInternetowe">
                                                        <label class="custom-control-label" for="sklepyInternetowe">Sklepy internetowe</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="katalogiIWyszukiwarki">
                                                        <label class="custom-control-label" for="katalogiIWyszukiwarki">Katalogi i wyszukiwarki</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="projektowanieStronWWW">
                                                        <label class="custom-control-label" for="projektowanieStronWWW">Projektowanie stron www</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="internet">
                                                        <label class="custom-control-label" for="internet">Internet</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="targiIWystawy">
                                                        <label class="custom-control-label" for="targiIWystawy">Targi i wystawy</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header shadow-sm" id="industry6Header">
                                                <h5 class="accordion-title" data-toggle="collapse" data-target="#industry6" aria-expanded="true" aria-controls="industry6">
                                                    MEDYCYNA, ZDROWIE I URODA
                                                </h5>
                                            </div>
                                            <div id="industry6" class="collapse" aria-labelledby="industry6Header" data-parent="#industriesAccordion">
                                                <div class="card-body pb-1">
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="opiekaZdrowotna">
                                                        <label class="custom-control-label" for="opiekaZdrowotna">Opieka Zdrowotna</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="farmaceutyka">
                                                        <label class="custom-control-label" for="farmaceutyka">Farmaceutyka</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="pielęgnacjaIUroda">
                                                        <label class="custom-control-label" for="pielęgnacjaIUroda">Pielęgnacja i Uroda</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="lekarzeSpecjalności">
                                                        <label class="custom-control-label" for="lekarzeSpecjalności">Lekarze - specjalności</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header shadow-sm" id="industry7Header">
                                                <h5 class="accordion-title" data-toggle="collapse" data-target="#industry7" aria-expanded="true" aria-controls="industry7">
                                                    MOTORYZACJA, TRANSPORT, KOMUNIKACJA
                                                </h5>
                                            </div>
                                            <div id="industry7" class="collapse" aria-labelledby="industry7Header" data-parent="#industriesAccordion">
                                                <div class="card-body pb-1">
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="komunikacja">
                                                        <label class="custom-control-label" for="komunikacja">Komunikacja</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="transportISpedycja">
                                                        <label class="custom-control-label" for="transportISpedycja">Transport i Spedycja</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="paliwaOlejeSmary">
                                                        <label class="custom-control-label" for="paliwaOlejeSmary">Paliwa, oleje, smary</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="samochodyIMotocykle">
                                                        <label class="custom-control-label" for="samochodyIMotocykle">Samochody i Motocykle</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header shadow-sm" id="industry8Header">
                                                <h5 class="accordion-title" data-toggle="collapse" data-target="#industry8" aria-expanded="true" aria-controls="industry8">
                                                    PRACA
                                                </h5>
                                            </div>
                                            <div id="industry8" class="collapse" aria-labelledby="industry8Header" data-parent="#industriesAccordion">
                                                <div class="card-body pb-1">
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="agencjePosrednictwaPracy">
                                                        <label class="custom-control-label" for="agencjePosrednictwaPracy">Agencje pośrednictwa pracy</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="agencjeDoradztwaPersonalnego">
                                                        <label class="custom-control-label" for="agencjeDoradztwaPersonalnego">Agencje doradztwa personalnego</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="pracaZaGranica">
                                                        <label class="custom-control-label" for="pracaZaGranica">Praca za granicą</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="internetowePortalePracy">
                                                        <label class="custom-control-label" for="internetowePortalePracy">Internetowe portale pracy</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="kursyISzkoleniaPracownicze">
                                                        <label class="custom-control-label" for="kursyISzkoleniaPracownicze">Kursy i szkolenia pracownicze</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="zarabianieWInternecie">
                                                        <label class="custom-control-label" for="zarabianieWInternecie">Zarabianie w internecie</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header shadow-sm" id="industry9Header">
                                                <h5 class="accordion-title" data-toggle="collapse" data-target="#industry9" aria-expanded="true" aria-controls="industry9">
                                                    PRAWO, FINANSE, TŁUMACZENIA
                                                </h5>
                                            </div>
                                            <div id="industry9" class="collapse" aria-labelledby="industry9Header" data-parent="#industriesAccordion">
                                                <div class="card-body pb-1">
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="doradztwoPrawne">
                                                        <label class="custom-control-label" for="doradztwoPrawne">Doradztwo prawne</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="biznesIEkonomia">
                                                        <label class="custom-control-label" for="biznesIEkonomia">Biznes i ekonomia</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="rzeczoznawcy">
                                                        <label class="custom-control-label" for="rzeczoznawcy">Rzeczoznawcy</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="finansowanie">
                                                        <label class="custom-control-label" for="finansowanie">Finansowanie</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="ubezpieczenia">
                                                        <label class="custom-control-label" for="ubezpieczenia">Ubezpieczenia</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="tlumaczenia">
                                                        <label class="custom-control-label" for="tlumaczenia">Tłumaczenia</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="konsulting">
                                                        <label class="custom-control-label" for="konsulting">Konsulting</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="doradztwoGospodarcze">
                                                        <label class="custom-control-label" for="doradztwoGospodarcze">Doradztwo gospodarcze</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="organizacjeGospodarczeIBiznesowe">
                                                        <label class="custom-control-label" for="organizacjeGospodarczeIBiznesowe">Organizacje gospodarcze i biznesowe</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="informacjaGospodarcza">
                                                        <label class="custom-control-label" for="informacjaGospodarcza">Informacja gospodarcza</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header shadow-sm" id="industry10Header">
                                                <h5 class="accordion-title" data-toggle="collapse" data-target="#industry10" aria-expanded="true" aria-controls="industry10">
                                                    PRZEMYSŁ, AUTOMATYKA
                                                </h5>
                                            </div>
                                            <div id="industry10" class="collapse" aria-labelledby="industry10Header" data-parent="#industriesAccordion">
                                                <div class="card-body pb-1">
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="przemyslChemiczny">
                                                        <label class="custom-control-label" for="przemysłChemiczny">Przemysł chemiczny</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="przemyslEnergetyczny">
                                                        <label class="custom-control-label" for="przemyslEnergetyczny">Przemysł energetyczny</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="przemyslMaszynowy">
                                                        <label class="custom-control-label" for="przemyslMaszynowy">Przemysł maszynowy</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="przemyslHutniczy">
                                                        <label class="custom-control-label" for="przemyslHutniczy">Przemysł hutniczy</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="przemyslWydobywczy">
                                                        <label class="custom-control-label" for="przemyslWydobywczy">Przemysł wydobywczy</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="przemyslMorski">
                                                        <label class="custom-control-label" for="przemyslMorski">Przemysł morski</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="opakowaniaIEtykiety">
                                                        <label class="custom-control-label" for="opakowaniaIEtykiety">Opakowania i Etykiety</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="przemyslDrzewny">
                                                        <label class="custom-control-label" for="przemyslDrzewny">Przemysł drzewny</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="automatyka">
                                                        <label class="custom-control-label" for="automatyka">Automatyka</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="przemyslSpozywczy">
                                                        <label class="custom-control-label" for="przemyslSpozywczy">Przemysł spożywczy</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="przemyslElektrotechniczny">
                                                        <label class="custom-control-label" for="przemyslElektrotechniczny">Przemysł elektrotechniczny</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="przemyslMetalowy">
                                                        <label class="custom-control-label" for="przemyslMetalowy">Przemysł metalowy</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="przemyslWlokienniczy">
                                                        <label class="custom-control-label" for="przemyslWlokienniczy">Przemysł włókienniczy</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="tworzywaSztuczne">
                                                        <label class="custom-control-label" for="tworzywaSztuczne">Tworzywa sztuczne</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="przemyslPaliwowy">
                                                        <label class="custom-control-label" for="przemyslPaliwowy">Przemysł paliwowy</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="magazynyISklady">
                                                        <label class="custom-control-label" for="magazynyISklady">Magazyny i składy</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="przemyslNarzedziowy">
                                                        <label class="custom-control-label" for="przemyslNarzedziowy">Przemysł narzędziowy</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header shadow-sm" id="industry11Header">
                                                <h5 class="accordion-title" data-toggle="collapse" data-target="#industry11" aria-expanded="true" aria-controls="industry11">
                                                    TURYSTYKA, SPORT, REKREACJA, HOTELE
                                                </h5>
                                            </div>
                                            <div id="industry11" class="collapse" aria-labelledby="industry11Header" data-parent="#industriesAccordion">
                                                <div class="card-body pb-1">
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="rozrywkaIGastronomia">
                                                        <label class="custom-control-label" for="rozrywkaIGastronomia">Rozrywka i gastronomia</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="noclegPobyt">
                                                        <label class="custom-control-label" for="noclegPobyt">Nocleg / Pobyt</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="aktywnyWypoczynek">
                                                        <label class="custom-control-label" for="aktywnyWypoczynek">Aktywny wypoczynek</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="odziezSprzetEkwipunekWyposazenie">
                                                        <label class="custom-control-label" for="odziezSprzetEkwipunekWyposazenie">Odzież, sprzęt, ekwipunek i wyposażenie</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="organizacjaWypoczynku">
                                                        <label class="custom-control-label" for="organizacjaWypoczynku">Organizacja wypoczynku</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="klubyIOrganizacjeSportowe">
                                                        <label class="custom-control-label" for="klubyIOrganizacjeSportowe">Kluby i organizacje sportowe</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header shadow-sm" id="industry12Header">
                                                <h5 class="accordion-title" data-toggle="collapse" data-target="#industry12" aria-expanded="true" aria-controls="industry12">
                                                    WŁÓKIENNICTWO, ODZIEŻ, OBUWIE
                                                </h5>
                                            </div>
                                            <div id="industry12" class="collapse" aria-labelledby="industry12Header" data-parent="#industriesAccordion">
                                                <div class="card-body pb-1">
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="odziez">
                                                        <label class="custom-control-label" for="odziez">Odzież</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="obuwie">
                                                        <label class="custom-control-label" for="obuwie">Obuwie</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="galanteria">
                                                        <label class="custom-control-label" for="galanteria">Galanteria</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="pralnie">
                                                        <label class="custom-control-label" for="pralnie">Pralnie</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="farbiarnie">
                                                        <label class="custom-control-label" for="farbiarnie">Farbiarnie</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="dywanyIWykladziny">
                                                        <label class="custom-control-label" for="dywanyIWykladziny">Dywany i wykładziny</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="uslugiDrobne">
                                                        <label class="custom-control-label" for="uslugiDrobne">Usługi drobne</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="poscielKoce">
                                                        <label class="custom-control-label" for="poscielKoce">Pościel, koce</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="bielizna">
                                                        <label class="custom-control-label" for="bielizna">Bielizna</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="firanyIZaslony">
                                                        <label class="custom-control-label" for="firanyIZaslony">Firany i zasłony</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="tekstylia">
                                                        <label class="custom-control-label" for="tekstylia">Tekstylia</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="tkaninyIDzianiny">
                                                        <label class="custom-control-label" for="tkaninyIDzianiny">Tkaniny i dzianiny</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="odziezRobocza">
                                                        <label class="custom-control-label" for="odziezRobocza">Odzież robocza</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header shadow-sm" id="industry13Header">
                                                <h5 class="accordion-title" data-toggle="collapse" data-target="#industry13" aria-expanded="true" aria-controls="industry13">
                                                    ŻYWNOŚĆ, ROLNICTWO, EKOLOGIA, LEŚNICTWO, OGRODNICTWO
                                                </h5>
                                            </div>
                                            <div id="industry13" class="collapse" aria-labelledby="industry13Header" data-parent="#industriesAccordion">
                                                <div class="card-body pb-1">
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="artOgolnospozywczeDetal">
                                                        <label class="custom-control-label" for="artOgolnospozywczeDetal">Art. ogólnospożywcze - detal</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id=" artOgolnospozywczeProdukcjaIHurt">
                                                        <label class="custom-control-label" for="artOgolnospozywczeProdukcjaIHurt">Art. ogólnospożywcze - produkcja i hurt</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="zywnoscDietetyczna">
                                                        <label class="custom-control-label" for="zywnoscDietetyczna">Żywność dietetyczna</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="cukiernieIPiekarnie">
                                                        <label class="custom-control-label" for="cukiernieIPiekarnie">Cukiernie i piekarnie</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="rybyIRybolowstwo">
                                                        <label class="custom-control-label" for="rybyIRybolowstwo">Ryby i rybołówstwo</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="maszynyIUrzadzeniaRolnicze">
                                                        <label class="custom-control-label" for="maszynyIUrzadzeniaRolnicze">Maszyny i urządzenia rolnicze</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="rolniczeArtykuly">
                                                        <label class="custom-control-label" for="rolniczeArtykuly">Rolnicze artykuły</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="zoologiczneArtykuly">
                                                        <label class="custom-control-label" for="zoologiczneArtykuly">Zoologiczne artykuły</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="lesnictwo">
                                                        <label class="custom-control-label" for="lesnictwo">Leśnictwo</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="zywnoscNaturalna">
                                                        <label class="custom-control-label" for="zywnoscNaturalna">Żywność naturalna</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="ogrodnictwo">
                                                        <label class="custom-control-label" for="ogrodnictwo">Ogrodnictwo</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="zwierzetaHodowlane">
                                                        <label class="custom-control-label" for="zwierzetaHodowlane">Zwierzęta hodowlane</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="ekologia">
                                                        <label class="custom-control-label" for="ekologia">Ekologia</label>
                                                    </div>
                                                    <div class="form-group custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="warzywaIOwoce">
                                                        <label class="custom-control-label" for="warzywaIOwoce">Warzywa i owoce</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ul>

                                <ul class="list-group list-group-flush py-0">

                                    <!-- Provinces area switcher-->
                                    <div class="kbf-config-area-switcher row">
                                        <h5 class="font-weight-700 px-4 px-md-5 px-lg-4 px-xl-5 mt-2 mb-3">WOJEWÓDZTWO</h5>
                                        <div data-name="province-name" id="provinces" class="dropdown col-12 px-4 px-md-5 px-lg-4 px-xl-5 mt-2 mb-3">
                                            <button class="btn btn-lg btn-round btn-primary px-3 mx-0 mb-3 mb-md-0 dropdown-toggle w-100" type="button"
                                                    id="provinces-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                        </div>

                                        <h5 class="font-weight-700 px-4 px-md-5 px-lg-4 px-xl-5 mt-2 mb-3">POWIAT</h5>
                                        <div data-name="area-name" id="areas" class="dropdown col-12 px-4 px-md-5 px-lg-4 px-xl-5 mt-2 mb-3">
                                            <button class="btn btn-lg btn-round btn-primary px-3 mx-0 mb-0 dropdown-toggle w-100" type="button" id="areas-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                        </div>
                                    </div>
                                </ul>

                                <div class="text-center px-4 px-md-5 px-lg-4 px-xl-5 pt-2 mt-4 mb-0">
                                    <button type="button" style="width: 50%" class="kbf-filter-button btn btn-round btn-warning">Filtruj</button>
                                </div>

                                <div class="text-center px-4 px-md-5 px-lg-4 px-xl-5 pt-2 mt-4 mb-0">
                                    <button type="reset" style="width: 50%" class="kbf-reset-button btn btn-round btn-danger">Wyczyść</button>
                                </div>


                            </div>



                        </div>
                    </div>
                </div>

                <!-- Content body -->
                <div class="col-lg-8">

                    <div class="pb-3 mb-3">
                        <div class="bg-white rounded-xl shadow-sm px-4 py-5 p-md-5">

                            <h5 class="font-weight-700 section-title-4 text-left pb-2 mb-4">
                                Produkty w KBF
                                <div class="title-divider-round mt-3"></div>
                            </h5>

                            <div class="bg-white rounded-lg shadow-sm p-4 mb-4">
                                <div class="px-3 py-2 d-md-flex align-items-center justify-content-between text-center text-md-left">
                                    <div class="d-md-flex align-items-center mb-4 mb-md-0">
                                        <img src="assets/images/upload/product - 1.jpg" alt="image" class="w-25 img-thumbnail mr-md-2 mb-4 mb-md-0">
                                        <div class="px-md-4">
                                            <h5 class="font-weight-500 mb-0">Smartfon OPPO A73 4GB 128GB AMOLED NFC Biały</h5>
                                        </div>
                                    </div>
                                    <div class="text-dark font-weight-700 mb-4 mb-md-0 ml-md-3 mr-md-5"><span class="text-nowrap">829 PLN</span></div>
                                    <div class="text-center">
                                        <a href="#" class="text-dark tooltip-btn p-1 mr-n1" data-toggle="tooltip" data-placement="right" title="Dodaj do ulubionych">
                                            <img src="assets/images/heart.svg" alt="heart-image" class="d-inline-block">
                                        </a>
                                        <a href="#" class="text-primary ml-4 ml-md-0">Szczegóły</a>
                                    </div>
                                </div>
                            </div>

                            <div class="bg-white rounded-lg shadow-sm p-4 mb-4">
                                <div class="px-3 py-2 d-md-flex align-items-center justify-content-between text-center text-md-left">
                                    <div class="d-md-flex align-items-center mb-4 mb-md-0">
                                        <img src="assets/images/upload/product - 2.jpg" alt="image" class="w-25 img-thumbnail mr-md-2 mb-4 mb-md-0">
                                        <div class="px-md-4">
                                            <h5 class="font-weight-500 mb-0">ZEGAREK MĘSKI SMARTWATCH EKG ROZMOWY CIŚNIENIE 4.0</h5>
                                        </div>
                                    </div>
                                    <div class="text-dark font-weight-700 mb-4 mb-md-0 ml-md-3 mr-md-5"><span class="text-nowrap">429 PLN</span></div>
                                    <div class="text-center">
                                        <a href="#" class="text-dark tooltip-btn p-1 mr-n1" data-toggle="tooltip" data-placement="right" title="Dodaj do ulubionych">
                                            <img src="assets/images/heart.svg" alt="heart-image" class="d-inline-block">
                                        </a>
                                        <a href="#" class="text-primary ml-4 ml-md-0">Szczegóły</a>
                                    </div>
                                </div>
                            </div>

                            <div class="bg-white rounded-lg shadow-sm p-4 mb-4">
                                <div class="px-3 py-2 d-md-flex align-items-center justify-content-between text-center text-md-left">
                                    <div class="d-md-flex align-items-center mb-4 mb-md-0">
                                        <img src="assets/images/upload/product - 3.jpg" alt="image" class="w-25 img-thumbnail mr-md-2 mb-4 mb-md-0">
                                        <div class="px-md-4">
                                            <h5 class="font-weight-500 mb-0">Konsola Xbox Series S 500GB</h5>
                                        </div>
                                    </div>
                                    <div class="text-dark font-weight-700 mb-4 mb-md-0 ml-md-3 mr-md-5"><span class="text-nowrap">1829 PLN</span></div>
                                    <div class="text-center">
                                        <a href="#" class="text-dark tooltip-btn p-1 mr-n1" data-toggle="tooltip" data-placement="right" title="Dodaj do ulubionych">
                                            <img src="assets/images/heart.svg" alt="heart-image" class="d-inline-block">
                                        </a>
                                        <a href="#" class="text-primary ml-4 ml-md-0">Szczegóły</a>
                                    </div>
                                </div>
                            </div>

                            <div class="bg-white rounded-lg shadow-sm p-4 mb-4">
                                <div class="px-3 py-2 d-md-flex align-items-center justify-content-between text-center text-md-left">
                                    <div class="d-md-flex align-items-center mb-4 mb-md-0">
                                        <img src="assets/images/upload/product - 4.jpg" alt="image" class="w-25 img-thumbnail mr-md-2 mb-4 mb-md-0">
                                        <div class="px-md-4">
                                            <h5 class="font-weight-500 mb-0">Smartfon OPPO A73 4GB 128GB AMOLED NFC Czarny</h5>
                                        </div>
                                    </div>
                                    <div class="text-dark font-weight-700 mb-4 mb-md-0 ml-md-3 mr-md-5"><span class="text-nowrap">850 PLN</span></div>
                                    <div class="text-center">
                                        <a href="#" class="text-dark tooltip-btn p-1 mr-n1" data-toggle="tooltip" data-placement="right" title="Dodaj do ulubionych">
                                            <img src="assets/images/heart.svg" alt="heart-image" class="d-inline-block">
                                        </a>
                                        <a href="#" class="text-primary ml-4 ml-md-0">Szczegóły</a>
                                    </div>
                                </div>
                            </div>

                            <nav aria-label="Products navigation">
                                <ul class="pagination pagination-round justify-content-center">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">«</span>
                                            <span class="sr-only">Poprzednia</span>
                                        </a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1 <span class="sr-only">(current)</span></a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">»</span>
                                            <span class="sr-only">Następna</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>

<!-- Footer -->
{{> footer }}

<!-- Go to top -->
{{> go-to-top }}

<!-- Scripts -->
{{> scripts }}

<!-- Index js -->
<script src="assets/js/products.js"></script>
<script>
    $(function () {

        // Ustaw tooltips
        $('.tooltip-btn').tooltip()
        $('.tooltip-btn-light').tooltip({
            template: '<div class="tooltip tooltip-light" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>'
        })

    })
</script>

</body>
</html>