.go-to-top a {
  background-color: #1565c0;
  box-shadow: 0 12px 35px -10px rgba(21, 101, 192, 0.55), 0 8px 10px -5px rgba(0, 0, 0, 0.09), 0 4px 25px -2px rgba(0, 0, 0, 0.14);
}

.go-to-top a:hover, .go-to-top a:focus {
  background-color: #1977e2;
  box-shadow: 0 1px 9px 0 rgba(21, 101, 192, 0.5);
}

/******************************/
/*  1. Mapa                   */
/******************************/

/******************************/
/*  1.1 Mini preloader        */
/******************************/

.kbf-mini-preloader {
  position: absolute;
  bottom: 0;
  right: 1rem;
  width: 4rem;
  height: 2rem;
  z-index: 5000;
}

.kbf-map-info, .kbf-provinces-label {
  position: absolute;
  background: #333333;
  color: white;
  font-family: Montserrat, sans-serif;
}

.kbf-provinces-label {
  font-size: 11px;
  padding: 4px;
  background: #173045;
  border-radius: 8px;
}

/******************************/
/*  1.2 Popup                 */
/******************************/

.leaflet-popup-pane {
  z-index: 10000 !important;
}

.leaflet-popup-content p {
  font-family: Montserrat, sans-serif;
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
  font-size: 0.8rem !important;
}

.leaflet-popup-content p:last-of-type {
  margin-bottom: 1rem !important;
}

.leaflet-popup-content a {
  font-family: Montserrat, sans-serif;
  color: #2196f3 !important;
  font-size: .875rem;
}

.leaflet-popup-content a:hover {
  opacity: 0.8;
}

/******************************/
/*  1.3 Panel kontrolny mapy  */
/******************************/

#kbf-map-panel {
  position: absolute;
  z-index: 5000;
  top: 0;

}

#kbf-map-panel .card {
  height: 375px;
}

#kbf-map-panel #areas {
  margin-bottom: 2rem !important;
}

#kbf-map-panel .btn {
  padding: .625rem 1rem;
}

#kbf-map-panel button {
  width: 100%;
}

#kbf-map-panel h5 {
  color: #565656;
  font-weight: normal;
}

#kbf-map-panel .kbf-map-panel-show-all, #kbf-map-panel .kbf-map-panel-show-province {
  cursor: pointer;
  color: #2196f3;
}

#kbf-map-panel .kbf-map-panel-show-all:hover {
  opacity: 0.8;
}

#kbf-map-panel .dropdown-menu.show {
  max-height: 610px !important;
  overflow-y: hidden;
}

.kbf-map-show-companies {
  position: absolute;
  width: 12rem;
  z-index: 5000;
  bottom: 2rem;
  left: 50vw;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}

@media (max-width: 320px) {
  #kbf-map-panel .card-title {
    display: none;
  }
}

@media (max-height: 480px){
  #kbf-map-panel .card-title {
    display: none;
  }
}

@media (min-width: 768px) {
  #kbf-map-panel {
    /*top: 2rem;*/
    /*left: 2rem;*/
    width: 50%;
  }
}

@media (min-width: 960px) {
  #kbf-map-panel {
    top: 2rem;
    right: 0;
    width: 35%;
  }
}

@media (min-width: 1140px) {

  #kbf-map-panel {
    width: 30%;
  }
}

@media (min-width: 1280px) {

  #kbf-map-panel {
    width: 25%;
  }
}

@media (max-height: 1024px) {
  #kbf-map-panel .dropdown-menu.show {
    max-height: 585px !important;
  }
}

@media (max-height: 1024px) and (orientation: portrait) {
  #kbf-map-panel .dropdown-menu.show {
    max-height: 485px !important;
  }
}

@media (max-height: 780px) {
  #kbf-map-panel .dropdown-menu.show {
    max-height: 350px !important;
  }

  #kbf-map-panel .card-body {
    padding-top: 1rem !important;
    padding-bottom: 1.2rem !important;
  }
}

@media (max-height: 480px) {
  #kbf-map-panel .dropdown-menu.show {
    max-height: 320px !important;
  }
}

/******************************/
/*  2. Witryna startowa       */
/******************************/

.img-container {
  position: relative;
}

.home-image {
  position: relative;
  right: 0.5rem;
}

.on-img-button {
  position: relative;
  bottom: 2rem;
  z-index: 1000;
  background-color: #555;
  color: white;
  font-size: 0.6rem;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 45%;
  height: 2.2rem;
}


@media (min-width: 321px) {

  .on-img-button {
    font-size: 0.7rem;
    height: 2.5rem;
  }
}

@media (min-width: 768px) {

  .home-image {
    width: 55%;
    right: 0.55rem;
  }

  .on-img-button {
    width: 30%;
  }

}

@media (min-width: 1200px) {

  .home-image {
    width: 60%;
    right: 0.56rem;
  }

  .on-img-button {
    width: 30%;
  }

}

@media (min-width: 1600px) {

  .home-image {
    width: 75%;
    right: 1.15rem;
  }

  .on-img-button {
    width: 40%;
  }

}

@media (min-width: 1900px) {

  .home-image {
    width: 70%;
    right: 1rem;
  }

  .on-img-button {
    width: 40%;
    bottom: 5rem;
  }

}

body#home {
  position: relative;
}

.button-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.desktop-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}


/******************************/
/* 2.1 Menu glowne            */
/******************************/

.navik-header .logo img {
  width: auto;
  max-height: 70px;
}

@media (min-width: 1278px) {
  .kbf-menu-item {
    visibility: visible;
  }
  .kbf-menu-item-mobile {
    visibility: hidden;
    display: none;
  }
}

@media (max-width: 1278px) {
  .kbf-menu-item {
    visibility: hidden;
    display: none;
  }
  .kbf-menu-item-mobile {
    visibility: visible;
    color: red;
  }
}

/******************************/
/* 2.2 Banery                 */
/******************************/

.kbf-banner-index {
  background: #fff;
  position: relative;
  width: 100%;
  height: 140px;
  z-index: 100;
}

.kbf-banner-index:before, .kbf-banner-index:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #e91e63, #1565c0, #4db6ac, #fbc02d, #d32f2f, #e91e63, #2196f3, #66bb6a, #fbc02d, #ef5350);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 50s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.kbf-banner-index:after {
  filter: blur(40px);
}

.kbf-banner-index .carousel-control-next-icon, .kbf-banner-index .carousel-control-prev-icon {
  filter: brightness(0.6);
}

.kbf-banner-index img, .kbf-banner img {
  max-height: 100px;
}

@media (max-width: 991.98px) {
  .kbf-banner-index img, .kbf-banner img {
    max-height: 60px;
  }
}

.img-kbf-banner-old {
  min-height: 80px;
  margin: auto;
}

.kbf-img-cover {
  max-height: 100% !important;
  height: 140px !important;
  width: 100% !important;
  object-fit: cover;
}

/******************************/
/*  3. Produkty i usługi      */
/******************************/

.company-service-info, .product-service-info {
  position: relative;
}

.company-service {
  background-color: white;
}

.company-service .header-shadow-wrapper, .company-product .header-shadow-wrapper {
  top: 99%;
  z-index: 5000;
}

.company-service-info .company-service-info-images {
  background-color: white;
}

.company-product-info .company-product-info-images, .company-service-info .company-service-info-images {
  height: 28rem;
}

.company-product-info .company-product-info-images figure, .company-service-info .company-service-info-images figure {
  width: 100%;
  height: 19rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.company-product-info .company-product-info-details, .company-service-info .company-service-info-details {
  width: 80%;
  bottom: 1rem;
  left: 2rem;
}

.company-product-phone, .company-service-phone {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.company-product-phone .company-product-info-details, .company-service-phone .company-service-info-details {
  width: 100%;
  bottom: 1rem;
  left: 0;
}

.company-product-phone .company-product-info-details p, .company-service-phone .company-service-info-details p {
  font-size: .875rem;
  font-weight: 400;
  color: #717171 !important;
  text-transform: none;
;
}

.company-product-phone .company-product-info .company-product-info-images, .company-service-phone .company-service-info .company-service-info-images {
  overflow: hidden;
  height: 35rem;
}

@media (min-width: 768px) {
  .company-product-info .company-product-info-images, .company-service-info .company-service-info-images {
    height: 32rem;
  }
}

@media (min-width: 992px) {
  .company-product-info .company-product-info-images, .company-service-info .company-service-info-images {
    height: 38rem;
  }
}

/******************************/
/*  3. Oferty pracy           */
/******************************/

.company-job {
  height: 18rem;
  transition: opacity 0.2s ease;
}

.company-job:hover {
  cursor: pointer;
  opacity: 0.95;
}

.company-job .card-text {
  margin-bottom: 0 !important;
}

.company-job .show-more, .company-job-phone .show-more {
  width: 90%;
  right: 1.875rem;
  bottom: 1.875rem;
}

.company-job-phone {
  height: 22rem;
}

.company-job-phone i:before {
  display: none !important;
}

.company-job-description, .job-responsibilites, .job-requirements, .job-offer {
  min-height: 480px !important;
}


/************************/
/* 3.1 Oferta pracy     */
/************************/

.job-details .list-group-item, .job-details-edit .list-group-item {
  position: relative;
}

.job-details .list-group-item:after, .job-details-edit .list-group-item:after  {
  position: absolute;
  content: '';
  top: 0.7rem;
  left: 0;
  width: 1.2rem;
  height: 1.2rem;
  background-image: url("../images/check-mark.svg");
  background-size: cover;
}

@media (min-width: 768px) {
  .job-details .list-group-item:after {
    left: 0.2rem;
  }
}

@media (min-width: 768px) {
  .company-job {
    height: 23rem;
  }
}

@media (min-width: 992px) {
  .company-job {
    height: 26rem;
  }
}

@media (min-width: 1280px) {
  .company-job {
    height: 21rem;
  }
}

/******************************/
/*  4. Mini mapa              */
/******************************/

#kbf-minimap {
  overflow: hidden;
  width: 100%;
  height: 10rem;
  z-index: 0;
}

@media (min-width: 1280px) {
  #kbf-minimap {
   height: 12rem;
  }
}

/******************************/
/*  5. Formularze             */
/******************************/

label.error {
  color: red;
  position: absolute;
  width: 100%;
  bottom: -0.8rem;
  max-width: 650px;
}

label.error#company_description-error {
  bottom: -1rem;
}

label.error-stepper {
  position: relative;
  bottom: 0;
}

.error.kbf-login-error {
  display: inline-block;
  bottom: 0 !important;
  text-align: center;
}

.login-form {
  max-width: 400px;
}

.login-content, .choose-registration-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

@media (max-width: 480px) {
  .error {
    padding-left: 0;
  }
}


input + .error {
  bottom: -2rem;
}

input[name*="sub-industry"] + .error {
  bottom: -0.5rem;
}


/******************************/
/* 6. Listy                   */
/******************************/

.company-list-item .company-logo, .job-list-item .company-logo {
  width: 18%;
}

.company-list-item .company-name, .job-list-item .job-name {
  font-size: 1rem;
}

.company-list-item .company-name:hover, .job-list-item .job-name:hover {
  color: #2196f3 !important;
}

@media (min-width: 768px) {

  .company-list-item .company-name, .job-list-item .job-name, .job-list-item .job-description {
    font-size: 0.85rem;
  }

  a.company-name:hover, a.product-name:hover, a.product-name:hover {

    color: rgb(106, 184, 247) !important;

  }


  .company-list-item .company-street, .company-list-item .company-zip, .company-list-item .company-zip-city, .company-list-item .send-message-anchor {
    font-size: 0.8rem;
  }

  .company-list-item .company-logo, .job-list-item .company-logo {
    width: auto;
    margin-top: 1.5rem;
  }

  .company-list-item .company-phone {
    font-size: 0.7rem;
}


}

@media (min-width: 1200px) {

  .company-list-item .company-name, .job-list-item .job-name {
    font-size: 0.95rem;
  }

  .company-list-item .company-street, .company-list-item .company-zip, .company-list-item .company-zip-city, .company-list-item .send-message-anchor {
    font-size: 0.9rem;
  }

  .company-list-item .company-phone {
    font-size: 0.8rem;
  }

}

/******************************/
/* 7. Tagi branz              */
/******************************/

.company-industry {
  cursor: pointer;
  transition: all 0.1s ease;
  overflow: hidden;
}

.company-industry:hover {
  opacity: 0.8;
}

.kbf-filter-badges-container {
  overflow: hidden;
  height: 5.9rem;
}

.kbf-filter-badges {
  position: relative;
  height: 4rem;
}

.kbf-filter-badges {
  display: flex;
}

.kbf-filter-badges .company-industry {
  height: 1.5rem;
  position: relative;
  text-align: center;
  padding-right: 0.4rem;
  margin-right: 0.5rem;
}

.kbf-filter-badges .company-industry:last-child {
  margin-right: 0;
}

.kbf-filter-badges .company-industry .badge-close {
  position: relative;
  display: inline-block;
  padding-left: 0.4rem;
}

.kbf-badge-filter-actions > a {
  font-size: 0.83rem !important;
  cursor: pointer;
}

.kbf-badge-filter-actions > a:hover {
  color: #0a6ebd !important;
}

/******************************/
/* WYSIWYG                    */
/******************************/

@media (max-width: 900px) {
  .kbf-keywords, .wysiwyg {
    margin: 0 auto !important;
  }
}

.ql-editor, .kbf-keywords, textarea  {
  border: 2px solid #e0e0e0 !important;
  border-radius: 1.6875rem !important;
  min-height: 4.5rem !important;
  height: auto;
  padding: 0.85rem 1.375rem !important;
  line-height: 1.5 !important;
  transition: all .2s ease-in-out;
}


.ql-editor {
  height: 16rem !important;
}

.ql-editor.focus, .kbf-keywords.tagify.tagify--focus:focus, textarea:focus {
  border: 2px solid #2196f3 !important;
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 20%) !important;
}

.ql-container {
  font-size: .875rem !important;
  font-family: Montserrat, sans-serif !important;
  color: #717171 !important;
  height: auto !important;

}

.ql-expanded, .ql-picker {
  transform: translateY(-2px) !important;
}

.ql-picker-label {
  border: 0 !important;
}

.tagify__tag:hover {
  background: #D3E2E2 !important;
}

/******************************/
/* Stepper                    */
/******************************/

.steps {
  justify-content: center;
}

.step {
  position: relative;
  width: 150px;
}

.steps .bullet {
  display: inline-block;
  position: relative;
  border: 1px solid lightgrey;
  margin-top: 0.5rem;
  width: 2rem;
  height: 2rem;
  line-height: 1.9rem;
  border-radius: 50%;
  font-weight: 600;
  font-size: 1.1rem;
  color: lightgrey;
}

.steps .bullet:after, .steps .bullet:before  {
  position: absolute;
  content: '';
  width: 280%;
  left: 3rem;
  top: 0.8rem;

}

.steps .bullet:after {
  background-color: lightgrey;
  height: 1px;
}

.steps .bullet:before {
  background-color: #4db6ac;
  height: 2px;
  transition: 1s transform;
  transform-origin: left;
  transform: scaleX(0);
}


.steps .step:last-child .bullet:after, .steps .step:last-child .bullet:before {
  display: none;
}

.steps .step .step-name {
  position: absolute;
  width: 100%;
  color: lightgrey;
  bottom: 2.5rem;
}

.steps .step.done .step-name, .steps .step.active .step-name {
  color: black;
  font-weight: 600;

}

.steps .step .bullet {
  transition: 1s background;
}

.steps .step.active .bullet {
  color: white;
  border: 1px solid #4db6ac;
  background-color: #4db6ac;
}

.steps .step .bullet span:nth-child(2) {
  display: none;
}

.steps .step.done .bullet span:first-child {
  display: none;
  color: lightgrey;
  font-weight: 600;
}

.steps .step.done .bullet span:nth-child(2) {
  display: inline;
}

.steps .step.done .bullet {
  background-color: #4db6ac;
  border: 1px solid #4db6ac;
  color: white;
}

.steps .step.done .bullet:before {
  transform: scaleX(1);
}

.page-wrapper {
  transition: 1s transform;
}

.page-wrapper .page {
  padding: 0;
}


.kbf-stepper form .top-message {
  top: 1rem;
}

.button-prev i, .button-next i {
  line-height: 0.9;
  font-size: 1.4rem;
}

.button-prev, .button-next, .button-register {
  max-width: 355px;
}

.button-prev i {
  left: 1rem;
}

.button-next i {
  right: 1rem;
}

.button-register {
  display: none;
}

@media (min-width: 1680px) {
  .page-wrapper .page  {

    padding: 0 10rem;

  }
}

@media (min-width: 1920px) {
  .page-wrapper .page  {

    padding: 0 16rem;

  }
}

/******************************/
/* Formularze                 */
/******************************/

.form-info-message {
  max-width: 650px !important;
}

@media (min-width: 960px) {
  .form-buttons button {
    width: 48%;
  }
}

.kbf-logo-uploader {
  width: 100%;
  margin: 0 auto;
  min-height: 160px;
  cursor: pointer;
}


@media (min-width: 1024px) {
  .kbf-logo-uploader {
    width: 100%;
    height: 8rem;
  }
}

@media (min-width: 1200px) {
  .kbf-logo-uploader {
    width: 100%;
    height: 10rem;
  }
}

.tab-pane {
  display: none;
}

.tab-pane.show {
  display: block;
}

.kbf-logo-uploader:hover .input-focus-bg {
  border-color: #2196f3;
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 20%);
}

.kbf-logo-uploader-label {
  display: inline-block;
  margin-bottom: .5rem;
  font-size: .75rem;
}

/*Obrazy produktu*/

.product-images {
  border: 2px solid #e0e0e0 !important;
  border-radius: 1.6875rem !important;
  min-height: 4.5rem !important;
  height: auto;
  padding: 0.85rem 1.375rem !important;
  line-height: 1.5 !important;
  transition: all .2s ease-in-out;
}

.product-image-item  {
  height: 100%;
  width: 10rem;
  cursor: pointer;
  margin: 1rem 0;
}

.product-image-item {
  position: relative;
  margin-right: 2rem;
}

.product-image-add {
  font-size: .75rem;
  background: #ececec;
  cursor: pointer;
  min-height: 160px;
  height: 100%;
  width: 10rem;

}

.product-image-add:hover, .product-image-item:hover {
  opacity: 0.8;
}

.product-image-item:hover .delete-button {
  display: block;
}

.product-image-add-icon {
  font-size: 1.5rem;
}

.delete-button {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: 0;
}


/******************************/
/* Date picker                */
/******************************/

app-datepicker {
  --app-datepicker-border-top-left-radius: 8px;
  --app-datepicker-border-top-right-radius: 8px;
  --app-datepicker-border-bottom-right-radius: 8px;
  --app-datepicker-border-bottom-left-radius: 8px;
  --app-datepicker-accent-color: #2196f3;
  --app-datepicker-bg-color: #fff;
  --app-datepicker-color: #000;
  --app-datepicker-disabled-day-color: rgba(0, 0, 0, .55);
  --app-datepicker-focused-day-color: #fff;
  --app-datepicker-focused-year-bg-color: #000;
  --app-datepicker-selector-color: rgba(0, 0, 0, .55);
  --app-datepicker-separator-color: #ddd;
  --app-datepicker-weekday-color: rgba(0, 0, 0, .55);
}

.kbf-date-picker {
  display: none;
  position: absolute;
  top: 100%;
  z-index: 9;
}

@media (max-width: 767px) and (orientation: portrait) {
  .kbf-date-picker {
    left: 50%;
    transform: translateX(-50%);
  }
}


/******************************/
/* Autocomplete               */
/******************************/

.bootstrap-autocomplete .dropdown-item.active, .dropdown-item:active {
  background-color: #f8f9fa !important;
}
.bootstrap-autocomplete .dropdown-item.active:hover, .dropdown-item:active:hover {
  cursor: pointer;
}

/******************************/
/* Narzędzia                  */
/******************************/

.mw-15 {
  max-width: 15%;
}

/******************************/
/* Inne                       */
/******************************/

/* O sklowach kluczowych */

a.about-keywords {
  text-decoration: underline !important;
}

a.about-keywords:hover {
  cursor: pointer;
}

/* Like button */
#kbf-like-button {
  transition: all 0.05s ease-out;
}

#kbf-like-button:hover {
  cursor: pointer;
  transform: scale(1.05) translateY(-2px);
}

/* Tagi branż */
.company-industry {
  transition: opacity 0.1s ease;
}

.company-industry:hover {
  opacity: 0.8;
}

/* Pokaż więcej */
.show-more {
  transition-property: all;
  transition-duration: 0.2s;
}

.show-more:hover {
  transform: translate(4px);
}

/* Logo firmy */
@media (min-width: 768px) {
  .company-logo img {
    transform-origin: 0 0;
    transform: scale(0.6);
  }
}

/* Centrowanie elementow na karuzeli produktow */
.product .owl-stage {
  display: flex;
  align-items: center;
}

/* Przelaczanie wojewodztw i powiatow */

.kbf-index-area-switcher #provinces label, .kbf-index-area-switcher #areas label {
  font-size: 1rem !important;
  color: white !important;
  margin-bottom: 1rem;
}

.kbf-index-area-switcher button {
  width: 100%;
}

.kbf-index-area-switcher .dropdown-menu.show {
  max-height: 200px !important;
  overflow-y: hidden;
}

@media (min-width: 900px) {
  .kbf-index-area-switcher .kbf-search {
    margin-top: 5rem;
  }
}

@media (min-height: 600px) {
  .kbf-index-area-switcher .dropdown-menu.show {
    max-height: 250px !important;
    overflow-y: hidden;
  }
}


@media (min-height: 768px) {
  .kbf-index-area-switcher .dropdown-menu.show {
    max-height: 350px !important;
    overflow-y: hidden;
  }
}

/* Dropdown */
.dropdown {
  position: relative;
}

.dropdown-item {
  padding-left: 15px;
}

.dropdown-menu {
  z-index: 5000;
}

@media (min-width: 1280px) {
  .navik-menu li>ul {
    width: 400px;
  }
}

.ps__rail-x,
.ps__rail-y {
  opacity: 0.6;
}

/* Tytuly tablet */
@media (min-width: 768px) and (max-width: 1199.98px) {
  .h5, h5 {
    font-size: 1rem;
  }
}

/* Back button */
.kbf-back-button {
  display: inline-flex;
  justify-content: center;
}

#sidebarMenu .card-header:hover {
  color: #fff !important;
  background-color: #45a7f5 !important;
  border-color: #45a7f5 !important;
  box-shadow: 0 1px 9px 0 rgba(33,150,243,.5) !important;
  transition: all .2s ease-in-out !important;
}

.sidebar-contents {
  position: sticky;
  top: 0;
}

/* Preloader button */
.kbf-button-preloader {
  display: flex;
  justify-content: center;
  height: 100%;
}

.kbf-button-preloader #dots {
  position: relative;
  height: auto;
  top: 8px;
  left: initial;
  width: 50px;
  margin: initial;

}

.kbf-button-preloader #dots span {
  background: rgba(255, 255, 255, 0.3);
  animation: dots-button 1s infinite ease-in-out;
}

#dots {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  margin: -25px 0 0 -25px;
}

#dots span {
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  animation: dots 1s infinite ease-in-out;
}

#dots span:nth-child(1) {
  left: 4px;
  animation-delay: 0.2s;
}

#dots span:nth-child(2) {
  left: 19px;
  animation-delay: 0.3s;
}

#dots span:nth-child(3) {
  left: 34px;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

#dots span:nth-child(4) {
  left: 45px;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@keyframes dots {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    background: rgba(0, 0, 0, 0.25);
  }
  50% {
    transform: translateY(10px);
    background: #000000;
  }
  100% {
    transform: translateY(0px);
    background: rgba(0, 0, 0, 0.25);
  }
}

@keyframes dots-button {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    background: rgba(255, 255, 255, 0.3);
  }
  50% {
    transform: translateY(10px);
    background: #FFF;
  }
  100% {
    transform: translateY(0px);
    background: rgba(255, 255, 255, 0.3);
  }
}

/* Kontener stepera poza panelem */

.container-stepper {
  max-width: 850px;
}

/* Repeater */

.repeater-item span {
  transition: background 250ms ease;
  cursor: pointer;
}

.repeater-item span:hover {
  background: #f1f1f1;
}

.repeater-delete-action {
  color: #2196f3 !important;
  cursor: pointer;
  transition: opacity 200ms ease;
}

.repeater-delete-action:hover {
  opacity: 0.8;
}

#repeater-error {
  position: static;
}

/* Alert */

.alert.alert-light {
  border-left: 5px solid green !important;
}

/* Subskrypcje */

.subscriptions-title {
  width: 100vw;
  top: 0;
  left: 0;
  background-color: white !important;
}

.card-price-table .card-body, .subscriptions .container {
  height: 548px !important;
}

.subscription-button {
  bottom: 1rem;
  left: 0;
}

.subscriptions {
  padding-top: 135px !important;
}

@media (min-width: 1024px) {
  .card-price-table .card-body,  .subscriptions .container {
    height: 565px !important;
  }
  .subscription-button {
    bottom: 0.5rem;
    left: 0;
  }

  .subscriptions {
    padding-top: 0 !important;
  }

  .subscriptions .container {
    align-self: center;
  }

}

/* Footer */

footer {
  z-index: 1000;
  position: relative;
}

.footer-top {
  padding-top: 1.2rem;
  bottom: 0;
  z-index: 1500;
  opacity: 0;
  /*transform: translateY(100%);*/
  transition: transform 0.3s ease-out, opacity 0.8s ease;
}

.footer-top.show-footer-top {
  opacity: 1;
}

footer a {
  color: white !important;
}

footer a:hover {
  color: #2196f3 !important;
}

/******************************/
/* Fix                        */
/******************************/

/* Scrollbar */
.ps__rail-y {   opacity: 0.6 !important; background-color: #eee !important; width: 16px !important; }
.ps__thumb-y { width: 11px !important; }

/* Hover fix */
.hover-flip-img > figure:nth-child(2) {
  display: none;
}

.hover-flip-img:hover > figure:nth-child(2) {
  display: block;
}

/* Akordeon fix */
.custom-control-label {
  font-size: 14px !important;
}

/* Textarea transition fix */
textarea.form-control {
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}

textarea {
  resize: none;
}

/* Transition na przyciskach */
.btn {
  transition: background-color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out !important;
}


@media (max-width: 480px) {
  .page-wrapper {
    padding-bottom: 120px !important;
  }
}

/*Modal fix*/

body.modal-open {
  overflow: visible;
}

.disabled-anchor {
  transition: opacity 0.3s ease-out;
  opacity: 0.2;
  cursor: default;
}

a.btn {
  cursor: pointer !important;
}

/* Product form fix */

#product_price-error, #product_inventory-error {
  left: 1rem;
  bottom: -2rem;
}

#product_description-error {
  bottom: -1rem;
}

#product_images-error {
  bottom: 0;
}

textarea + #company_description_html-error {
  bottom: -2rem !important;
}

#industriesSidebar {
  position: absolute;
  height: 100%;
  z-index: 1000;

  transform: translateX(-100%);
  transition: transform 0.3s ease-out;

}

#industriesSidebar.show {
  transform: translateX(0);
}

#industriesSidebarButton {
  position: absolute;
  top: -2rem;
  left: calc(100% + 1rem);
  z-index: 1000;
}

#home-top-section {
  position: relative;
}

.home-title {
  display: none;
}

.home-sub-title {
  display: none;
}

@media (min-width: 1200px) {
  body#home {
    height: 100vh;
    overflow: hidden;
  }

}


@media (min-height: 900px) {
  .home-title {
    display: block;
  }

  .home-sub-title {
    display: block;
  }
}

