/******************************/
/* Strona Główna (zmiany w 2 fazie, submenu z branżami) */
/******************************/
.sidebarActionButton {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -15px;
}

#industriesSidebar {
    color: #fff;
    border-right: 10px solid #fbc02d;
    box-shadow: 0 12px 35px -10px rgb(251 192 45 / 55%), 0 8px 10px -5px rgb(0 0 0 / 9%), 0 4px 25px -2px rgb(0 0 0 / 14%);
}

#industriesSidebar div.col-lg-6 {
    margin: 0;
    padding: 0;
}

#industriesSidebar h6 {
    font-size: 0.5rem;
    max-width: 80px;
    margin: auto;
}

#industriesSidebar div.icon-info-text {
    padding: 0;
}

@media (min-width: 1440px) {
    #industriesSidebar h6 {
        font-size: 0.6rem;
        max-width: 100px;
    }
}

@media (min-width: 1920px) {
    #industriesSidebar h6 {
        font-size: 0.7rem;
    }
    #industriesSidebar div.icon-info-text {
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }
    #industriesSidebar div.col-lg6 {
        padding: 0.3rem;
    }
}

#industriesSidebar .icon-element {
    width: 50px;
    height: 50px;
}

#industriesSidebar .icon-element img {
    width: 35px;
}

/******************************/
/* Panel firmy - Usługi */
/******************************/
.img-cropper .image_area {
    position: relative;
}

.img-cropper img {
    display: block;
    max-width: 100%;
}

.add-banner .img-cropper img {
    display: block;
    max-width: 100%;
    max-height: 140px;
}

.preview {
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.img-cropper .modal-lg {
    max-width: 1000px !important;
}

.add-banner .img-cropper .modal-lg {
    max-width: 90% !important;
}

@media (min-width: 992px) {
    .add-banner .modal-lg, .modal-xl {
        max-width: 90%;
    }
}

.add-banner .cropper-bg {
    max-width: 100%;
}

.img-cropper .overlay {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    height: 0;
    transition: .5s ease;
    width: 100%;
}

.img-cropper .image_area:hover .overlay {
    height: 50%;
    cursor: pointer;
}

.img-cropper .text {
    color: #333;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}