<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>
<body>

<!-- Preloader -->
{{> preloader }}

<!-- Navigation menu -->
{{> menu }}

<!-- Content -->
<div class="main-content py-0 mt-4">
    <div class="container">
        <h3 class="font-weight-800 mb-0 pt-lg-5 py-4 section-title-3 text-center text-uppercase">OFERTA PRACY</h3>
        <div class="row">
            <div class="col-12 col-md-6 col-xl-7 px-0">
                <div class="row h-100">
                    <div class="col-2 text-center">
                        <img class="d-inline-block img-fluid" alt="image" src="assets/images/upload/company-logo.png">
                    </div>
                    <div class="col-10 company-info pl-2">
                        <h5 class="font-weight-700 mb-2 section-title-4 text-left">WebPlanet Witryny i aplikacje internetowe</h5>
                        <div class="company-street">Jagiellońska 115A</div>
                        <div class="company-zip-city">
                            <span class="company-zip">85-027</span>
                            <span class="company-city">Bydgoszcz</span>
                        </div>
                        <a class="text-dark text-nowrap" href="tel:+48601789633"><i class="fas fa-phone-alt mr-2"></i>+48601789633</a>
                        <div class="company-industries">
                            <a href="#"><span class="company-industry badge badge-pill badge-primary mb-1 mt-3">Oprogramowanie</span></a>
                            <a href="#"><span class="company-industry badge badge-pill badge-warning mb-1 mt-1">Usługi komputerowe i informatyczne</span></a>
                            <a href="#"><span class="company-industry badge badge-pill badge-success mb-1 mt-1">Projektowanie stron www</span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-5">
                <div class="job-description mt-md-0 my-4">
                    <div class="job-info">
                        <div class="job-info-element mb-3">
                            <div class="no-gutters row justify-content-end">
                                <div class="col-4 col-lg-1 col-sm-2 d-flex flex-column justify-content-center info-element-icon">
                                    <img class="d-block h-50 mx-auto w-100" src="assets/images/pin.svg" alt="area">
                                </div>
                                <div class="col-8 col-sm-10 d-flex flex-column justify-content-center">
                                    <div class="info-element-contents p-2">
                                        <span class="d-block font-weight-700">Bydgoszcz</span>
                                        <span class="d-block">Kujawsko-Pomorskie</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="job-info-element mb-3">
                            <div class="no-gutters row justify-content-end">
                                <div class="col-4 col-lg-1 col-sm-2 d-flex flex-column justify-content-center info-element-icon">
                                    <img class="d-block h-50 mx-auto w-50" src="assets/images/clock.svg" alt="expire">
                                </div>
                                <div class="col-8 col-sm-10 d-flex flex-column justify-content-center">
                                    <div class="info-element-contents p-2">
                                        <span class="d-block font-weight-700">Oferta ważna do :</span>
                                        <span class="d-block">20.08.2021</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="job-info-element mb-3">
                            <div class="no-gutters row justify-content-end">
                                <div class="col-4 col-lg-1 col-sm-2 d-flex flex-column justify-content-center info-element-icon">
                                    <img class="d-block h-50 mx-auto w-100" src="assets/images/businessman.svg" alt="job type">
                                </div>
                                <div class="col-8 col-sm-10 d-flex flex-column justify-content-center">
                                    <div class="info-element-contents p-2">
                                        <span class="d-block font-weight-700">Rodzaj etatu :</span>
                                        <span class="d-block">Pełny etat</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-4 mb-4">
                <div class="bg-image bg-viridian-100 border-0 card shadow text-white" data-img-src="../dist/assets/images/upload/service-card-box-01.png" style="height: 100%;">
                    <div class="card-body company-job-description company-job-description-full position-relative">
                        <p class="card-text">Poszukujemy osoby na stanowisko: <h5 class="d-block font-weight-600 my-3 text-warning">Magazynier - sprzedawca</h5>
                            Możesz liczyć na realne możliwości rozwoju już od samego początku.
                            Przecież nie musisz wszystkiego wiedzieć my nauczymy Cie wszystkiego. Każdemu pracownikowi zapewniamy odpowiednie, certyfikowane szkolenia.&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-8">
                <div class="job-details mb-xl-4 row">
                    <div class="col-md-4 mb-4 mb-xl-0">
                        <div class="card job-responsibilites" style="height: 100%;">
                            <div class="card-body px-md-2 px-lg-3 py-3">
                                <h5 class="card-title pl-md-1">Zakres obowiązków</h5>
                                <ul class="list-group list-group-flush pb-0">
                                    <li class="list-group-item">Obsługa klientów na placu</li>
                                    <li class="list-group-item">Szykowanie, kompletowanie i wydawanie zamówień</li>
                                    <li class="list-group-item">Rozładunek i załadunek towaru</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4 mb-xl-0">
                        <div class="card job-requirements" style="height: 100%;">
                            <div class="card-body px-md-2 px-lg-3 py-3">
                                <h5 class="card-title pl-md-1">Wymagania</h5>
                                <ul class="list-group list-group-flush pb-0">
                                    <li class="list-group-item">Znajomość towarów &ndash; drewna i materiałów drzewnych</li>
                                    <li class="list-group-item">Komunikatywność w rozmowie z klientami</li>
                                    <li class="list-group-item">Obsługa wózka widłowego</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4 mb-xl-0">
                        <div class="card job-requirements" style="height: 100%;">
                            <div class="card-body px-md-2 px-lg-3 py-3">
                                <h5 class="card-title pl-md-1">Nasza oferta</h5>
                                <ul class="list-group list-group-flush pb-0">
                                    <li class="list-group-item">Znajomość towarów &ndash; drewna i materiałów drzewnych</li>
                                    <li class="list-group-item">Komunikatywność w rozmowie z klientami</li>
                                    <li class="list-group-item">Obsługa wózka widłowego</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 text-center text-md-right align-self-center">
                <button type="submit" class="btn btn-round shadow-none btn-primary">Wyślij CV</button>
                <button type="button" class="btn btn-round btn-secondary shadow-none ml-3">WRÓĆ</button>
            </div>
        </div>
        <h3 class="font-weight-800 mb-0 pt-lg-5 py-4 section-title-3 text-center text-uppercase">Zobacz również</h3>

        <!-- More jobs -->
        <div class="row d-none d-sm-flex mb-5">
            <div class="col-md-6 col-lg-4">
                <div class="company-job card text-white bg-viridian-100 border-0 shadow bg-image" data-img-src="../dist/assets/images/upload/service-card-box-01.png">
                    <div class="company-job-title card-header font-weight-700 text-uppercase">
                        <a href="#" class="d-flex align-items-center text-white"> <i class="fas fa-bahai fa-lg mr-2"></i> <span class="mt-1">pracownik magazynu logistyki modowej</span> </a>
                    </div>
                    <div class="company-job-description card-body position-relative">
                        <p class="card-text">
                            Poszukujemy pracownika na stanowisko: <span class="d-block font-weight-600 my-2 text-warning">Pracownik magazynu logistyki modowej</span>
                            Pracownik będzie zatrudniony jako wsparcie dla naszego oddziału w Großbeeren ... </p>
                        <div class="show-more text-right pt-2 position-absolute">
                            <a href="#" class="btn btn-link btn-sm mb-0 pr-0 text-white"><i class="fas fa-long-arrow-alt-right "></i>Więcej informacji</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="company-job card text-white bg-viridian-100 border-0 shadow bg-image" data-img-src="../dist/assets/images/upload/service-card-box-01.png">
                    <div class="company-job-title card-header font-weight-700 text-uppercase">
                        <a href="#" class="d-flex align-items-center text-white"> <i class="fas fa-bahai fa-lg mr-2"></i> <span class="mt-1">Doradca ubezpieczeniowy</span> </a>
                    </div>
                    <div class="company-job-description card-body position-relative">
                        <p class="card-text">
                            Poszukujemy osoby na stanowisko: <span class="d-block font-weight-600 my-2 text-warning">Doradca ubezpieczniowy</span>
                            Możesz liczyć na realne możliwości rozwoju już od samego początku.
                            Przecież nie musisz wszystkiego wiedzieć od razu ... </p>
                        <div class="show-more text-right pt-2 position-absolute">
                            <a href="#" class="btn btn-link btn-sm mb-0 pr-0 text-white"><i class="fas fa-long-arrow-alt-right"></i>Więcej informacji</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="company-job card text-white bg-viridian-100 border-0 shadow bg-image" data-img-src="../dist/assets/images/upload/service-card-box-01.png">
                    <div class="company-job-title card-header font-weight-700 text-uppercase">
                        <a href="#" class="d-flex align-items-center text-white"> <i class="fas fa-bahai fa-lg mr-2"></i> <span class="mt-1">Pomoc apteczna</span> </a>
                    </div>
                    <div class="company-job-description card-body position-relative">
                        <p class="card-text">
                            Poszukujemy osoby na stanowisko: <span class="d-block font-weight-600 my-2 text-warning">Pomoc apteczna</span>
                            Ziko Apteka to polska firma, która stale rozwija się na rynku farmaceutycznym.
                            Naszą działalność opieramy na trosce ... </p>
                        <div class="show-more text-right pt-2 position-absolute">
                            <a href="#" class="btn btn-link btn-sm mb-0 pr-0 text-white"><i class="fas fa-long-arrow-alt-right"></i>Więcej informacji</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- More jobs phone -->
        <div class="row d-sm-none">
            <div class="col-md-6 col-lg-4">
                <div class="company-job-phone card text-white bg-viridian-100 border-0 shadow bg-image"
                     data-img-src="../dist/assets/images/upload/service-card-box-01.png">
                    <div class="company-job-title card-header font-weight-700 text-uppercase p-2">
                        <a href="#" class="d-flex align-items-center text-white"> <i
                                class="fas fa-bahai fa-lg mr-2"></i> <span class="mt-1">Pracownik magazynu logistyki modowej</span>
                        </a>
                    </div>
                    <div class="company-job-description card-body p-3 position-relative">
                        <p class="card-text">
                            Poszukujemy pracownika na stanowisko: <span class="d-block my-2 font-weight-600 text-warning">Pracownik magazynu logistyki modowej</span>
                            Pracownik będzie zatrudniony jako wsparcie dla naszego oddziału w Großbeeren ...

                        </p>
                        <div class="show-more text-right pt-2 position-absolute">
                            <a href="#" class="btn btn-sm btn-link text-white pr-0 mb-0"><i
                                    class="fas fa-long-arrow-alt-right "></i>Więcej informacji</a>
                        </div>
                    </div>
                </div>
                <div class="company-job-phone card text-white bg-viridian-100 border-0 shadow bg-image"
                     data-img-src="../dist/assets/images/upload/service-card-box-01.png">
                    <div class="company-job-title card-header font-weight-700 text-uppercase p-2">
                        <a href="#" class="d-flex align-items-center text-white"> <i
                                class="fas fa-bahai fa-lg mr-2"></i> <span class="mt-1">Pomoc apteczna</span>
                        </a>
                    </div>
                    <div class="company-job-description card-body p-3 position-relative">
                        <p class="card-text">
                            Poszukujemy pracownika na stanowisko: <span class="d-block my-2 font-weight-600 text-warning">Pomoc apteczna</span>
                            Ziko Apteka to polska firma, która stale rozwija się na rynku farmaceutycznym.
                            Naszą działalność opieramy na trosce ...

                        </p>
                        <div class="show-more text-right pt-2 position-absolute">
                            <a href="#" class="btn btn-sm btn-link text-white pr-0 mb-0"><i
                                    class="fas fa-long-arrow-alt-right "></i>Więcej informacji</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Footer -->
{{> footer }}
<!-- Go to top -->
{{> go-to-top }}

{{> scripts }}

<!-- Main script -->
<script src="assets/js/job.js"></script>
<script>

    $(function () {

        // Ustaw tooltips
        $('.tooltip-btn').tooltip()
        $('.tooltip-btn-light').tooltip({
            template: '<div class="tooltip tooltip-light" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>'
        })

    })

</script>
</body>
</html>